/.vs/StrangeIoC/v15
/Assets/Demo1/Resources/Audio
/Assets/Demo1/Resources
/Assets/Demo1/Script/Editor
/Assets/Demo1/Script/Manager
/Assets/Demo1/Script/Model
/Assets/Demo1/Script/Editor.meta
/Assets/Demo1/Script/Manager.meta
/Assets/Demo1/Resources.meta
/Temp
